.products caption {
    caption-side: top;
    margin-bottom: 8px;
}

.products th,
.products td {
    border: 1px, solid, black;
    padding: 4px 8px;
    text-align: center;
}

.products th {
  font-size: 20px;
  color: blue;
  
}


.products td {
    font-size: 15px;
}

.products {
    border-collapse: collapse;
    width: 100%;
    /* width: 400px; */
}

.products thead,
.products tfoot {
    background-color: aquamarine;
}

.products tbody td:hover {

    background-color: #b1b82d;
}

.products tbody tr:nth-child(odd)  {
    background-color: coral;
}

.products tbody tr:nth-child(even)  {
    background-color: rgb(155, 30, 105);
}